PORT = value of localhost;
MONGODB_USER = name of username;
MONGODB_PASSWORD = password of current user;
MONGODB_URL = url of connection to mongoDB cluster;
MONGODB_DB = name of db;


SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=
JWT_SECRET=
APP_DOMAIN=


CLOUD_NAME=
API_KEY=
API_SECRET=
ENABLE_CLOUDINARY=